<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springBoot.mapper.UserMapper">
    <select id="findByUserName" parameterType="map" resultType="com.springBoot.entity.User">
        SELECT
        id id,
        user_name userName,
        password password,
        reg_date regDate,
        reg_time regTime
        from t_user
        where user_name = #{userName}
    </select>

    <select id="findByUserNameAndPassword" parameterType="map" resultType="com.springBoot.entity.User">
        SELECT
        id id,
        user_name userName,
        password password,
        reg_date regDate,
        reg_time regTime
        from t_user
        where user_name = #{userName,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>

    <select id="findAll" resultType="com.springBoot.entity.User">
        SELECT * from t_user
    </select>
</mapper>
