<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>

    <script src="../../common.js"></script>

    <script src="register.js"></script>
</head>
<body ng-app="registerApp" ng-controller="registerController">
<div>
    <p><a class="a-button" href="../login/login.html">去登陆</a></p>
    <p>账号 <input type="text" class="input" name="username" ng-model="username"></p>
    <p>密码 <input type="password" class="input" name="password" ng-model="password"></p>
    <p>
        <button class="button button-hover" ng-click="registerAccount(username, password)">注册</button>
    </p>
</div>
</body>
</html>