<div>
    <!-- 滚动大图 -->
    <div class="block">
        <el-carousel trigger="click" height="500px">
            <el-carousel-item v-for="img in imgList">
                <el-image :src="img.url" style="width: 100%;"></el-image>
            </el-carousel-item>
        </el-carousel>
    </div>

    <el-row>
        <el-col :span="12" :offset="6">
            <div class="block">
                <p>登录成功</p>
                <p>欢迎来到首页index</p>
                <!--<p><a class="a-hover blue" href="/pages/userMana/home.html">点此跳转至home页</a></p>-->
                <!--<p><a class="a-hover blue" href="/pages/uploadFile/uploadFile.html">点此跳转至uploadFile页</a></p>-->
            </div>
        </el-col>
    </el-row>

</div>