<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统错误页</title>

    <style type="text/css">
        a {
            color: brown;
            cursor: pointer; /*显示鼠标手型*/
        }

        a:hover {
            color: #FC9D1D;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>抱歉！系统发生错误</h1>
    <p><a class="a-class" onclick="history.back()">》返回上一页</a></p>
    <p><a class="a-class" href="https://127.0.0.1">》返回网站首页</a></p>
</div>
</body>
</html>