<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <!--引入公共js-->
    <script src="common.js"></script>
</head>
<body>
<div>
    <div>
        <p>登录成功</p>
        <p>欢迎来到首页index</p>
        <p><a class="a-hover blue" href="pages/userMana/home.html">点此跳转至home页</a></p>
        <p><a class="a-hover blue" href="pages/uploadFile/uploadFile.html">点此跳转至uploadFile页</a></p>
    </div>
    <form action="/logout" method="get">
        <input type="submit" class="button-red button-hover" value="登出"/>
    </form>
</div>
</body>
</html>