<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset/css/form-elements.css">
    <link rel="stylesheet" href="asset/css/style.css">
    <link rel="stylesheet" href="asset/font-awesome/css/font-awesome.min.css">

    <!--公共js css-->
    <script src="../../common.js"></script>
    <!--设置动态背景图-->
    <script src="asset/js/jquery.backstretch.min.js"></script>
    <script src="asset/js/scripts.js"></script>
    <!--页面js-->
    <script src="login.js"></script>
</head>

<body ng-app="loginApp" ng-controller="loginController">
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">username</label>
                                <input type="text" ng-model="username" name="username" placeholder="username..."
                                       class="form-username form-control" id="form-username" autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">password</label>
                                <input type="password" ng-model="password" name="password" placeholder="password..."
                                       class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-text">
                                    <input type="checkbox" ng-model="rememberMe" name="rememberMe"
                                           class="input-checkbox" id="form-rememberMe">
                                    &nbsp;rememberMe
                                </label>
                            </div>
                            <button class="login-btn" ng-click="login(username, password, rememberMe)">Sign in</button>
                            <button class="register-btn" ng-click="toRegister()">Create your account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
