/*a超链接样式*/
a {
    cursor: pointer; /*鼠标显示手型*/
    transition: all 0.5s; /*所有变化在0.5s内渐变完成*/
    text-decoration: none; /*去掉下划线*/
}

.a-hover:hover {
    color: darkseagreen;
    text-decoration: underline;
}

.delete {
    color: tomato;
}

.blue {
    color: dodgerblue;
}

.red {
    color: tomato;
}

.green {
    color: green;
}

/*默认蓝色按钮*/
.button {
    background-color: #1E9FFF;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*绿色按钮*/
.button-green {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*红色按钮*/
.button-red {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-shadow {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-hover:hover {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.disabled {
    opacity: 0.6; /*透明度*/
    cursor: not-allowed; /*鼠标不可点击时的显示状态*/
    pointer-events: none; /*鼠标原有的事件不能实现*/
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button-green span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-green span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-green:hover span {
    padding-right: 25px;
}

.button-green:hover span:after {
    opacity: 1;
    right: 0;
}

.button-red span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-red span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-red:hover span {
    padding-right: 25px;
}

.button-red:hover span:after {
    opacity: 1;
    right: 0;
}

/*a标签蓝色按钮*/
.a-button {
    background-color: #1E9FFF;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*a标签绿色按钮*/
.a-button-green {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*a标签红色按钮*/
.a-button-red {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*六、图像按钮*/
.imagebutton {
    cursor: hand; /*改变鼠标形状*/
}

/*七、页面正文*/
body {
    scrollbar-face-color: #ededf3;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #93949f;
    scrollbar-3dlight-color: #ededf3;
    scrollbar-arrow-color: #082468;
    scrollbar-track-color: #f7f7f9;
    scrollbar-darkshadow-color: #ededf3;
    font-size: 9pt;
    color: #003366;
    overflow: auto;
}

td {
    font-size: 12px
}

th {
    font-size: 12px;
}

/*输入框*/
.input {
    width: 170px;
    margin: auto 5px;
    padding: 5px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

/*下拉框*/
.select {
    width: 170px;
    margin: auto 5px;
    padding: 5px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

/*下拉框 白底无边框*/
.select-white {
    width: 170px;
    margin: auto 5px;
    padding: 5px 3px;
    border: none;
    border-radius: 2px;
    background-color: #f1f1f1;
}

/*搜索输入框*/
.input-search {
    width: 170px;
    margin: auto 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    background-color: white;
    background-image: url('https://static.runoob.com/images/mix/searchicon.png');
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding: 6px 3px 6px 30px;
}

/*文本框*/
.textarea {
    width: 350px;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #f8f8f8;
    font-size: 14px;
    resize: none;
}
