<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springBoot.mapper.mapperDB2.UserDB2Mapper">
    <select id="findByUserName" parameterType="map" resultType="com.springBoot.entity.User">
        SELECT * from t_user where user_name = #{userName}
    </select>

    <select id="findByUserNameAndPassword" parameterType="map" resultType="com.springBoot.entity.User">
        SELECT * from t_user where user_name = #{userName} and password = #{password}
    </select>

    <select id="findAll" resultType="com.springBoot.entity.User">
        SELECT * from t_user
    </select>

    <insert id="saveUser" parameterType="map">
        INSERT INTO t_user(user_name, password, reg_date, reg_time, credentials_salt)
         VALUE (#{user.userName},#{user.password},#{user.regDate},#{user.regTime},#{user.credentialsSalt})
    </insert>

    <delete id="deleteUser" parameterType="map">
        DELETE FROM t_user where id = #{id}
    </delete>
</mapper>
