<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type"/>
    <meta charset="UTF-8"/>
    <title>home</title>

    <!--angular.js-->
    <script src="../framework/angular/1.4.3/angular.min.js"></script>
    <script src="../framework/angular/1.4.3/angular-route.min.js"></script>
    <script src="../framework/angular/directives/angucomplete.js"></script>
    <script src="../framework/angular/directives/angucomplete-alt.js"></script>

    <script src="../framework/jquery/1.9/jquery.js"></script>
    <script src="../framework/util/namespace.js"></script>

    <script type="text/javascript" src="home.js"></script>

    <link rel="stylesheet" href="../css/common.css">
</head>
<body>

<div ng-controller="MyHomeController">
    <div>
        <p><a href="../index.html">点此跳转首页</a></p>
        <p><input type="button" ng-click="find()" value="查询User"></p>
    </div>
    <div>
        <table border="1" cellspacing="0">
            <tr>
                <th>id</th>
                <th>user_name</th>
                <th>password</th>
                <th>reg_date</th>
                <th>reg_time</th>
                <th>credentials_salt</th>
            </tr>
            <tr ng-repeat="x in resultList">
                <td>{{x.id}}</td>
                <td>{{x.userName}}</td>
                <td>{{x.password}}</td>
                <td>{{x.regDate}}</td>
                <td>{{x.regTime}}</td>
                <td>{{x.credentialsSalt}}</td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>