<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <!--引入公共js-->
    <script src="commonJs.js"></script>
    <!--引入公共css-->
    <script src="commonCss.js"></script>
</head>
<body>
<div>
    <div>
        <p>登录成功</p>
        <p>欢迎来到首页index</p>
        <p><a class="a-class" href="pages/home.html">点此跳转至home页</a></p>
        <p><a class="a-class" href="pages/uploadFile.html">点此跳转至uploadFile页</a></p>
    </div>
    <form action="/logout" method="get">
        <input type="submit" value="登出"/>
    </form>
</div>
</body>
</html>