<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>

    <link href="css/common.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div>
    <div>
        <p>登录成功</p>
        <p>欢迎来到首页index</p>
        <p><a href="pages/home.html">点此跳转至home页</a></p>
        <p><a href="pages/uploadFile.html">点此跳转至uploadFile页</a></p>
    </div>
    <form action="/springBootDemo/logout" method="get">
        <input type="submit" value="登出"/>
    </form>
</div>
</body>
</html>