<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>

    <script src="../../common.js"></script>

    <script src="uploadFile.js"></script>
</head>
<body ng-app="uploadFileApp" ng-controller="uploadFileController">
<div>
    <p><a class="a-button" href="../../index.html">点此跳转首页</a></p>
    <div id="uploadFile-upload"></div>
    <div>
        <p><input type="button" class="button" ng-click="find()" value="查询文件列表"></p>
    </div>
    <div>
        <table border="1" cellspacing="0" width="70%">
            <tr>
                <th>序号</th>
                <th>id</th>
                <th>fileName</th>
                <th>filePath</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="x in fileList">
                <td>{{$index + 1}}</td>
                <td>{{x.id}}</td>
                <td>{{x.fileName}}</td>
                <td>{{x.filePath}}</td>
                <td>
                    <div>
                        <a class="blue a-hover" ng-click="downloadFile(x.filePath)">下载</a>
                        <a class="delete a-hover" ng-click="deleteFile(x, $index)">删除</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>