a {
    cursor: pointer; /*鼠标显示手型*/
    transition: all 0.5s; /*所有变化在0.5s内渐变完成*/
    text-decoration: none; /*去掉下划线*/
}

.a-class {
    color: #3f8bc7;
}

.a-class:hover {
    color: darkseagreen;
    text-decoration: underline;
    /*font-size: larger;*/
}

.delete-class {
    color: tomato;
}

.blue-class {
    color: dodgerblue;
}

.red-class {
    color: tomato;
}

.green-class {
    color: green;
}
